<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
    
    	<!-- Información básica de la base de datos de conexión de Hibernate-->
    	<property name="connection.username">usuario</property>
    	<property name="connection.driver_class">org.h2.Driver</property>
    	<property name="connection.url">jdbc:h2:file:C:\Users\victo\OneDrive\Escritorio\DiarioDeEntrenamiento\src\main\java\resources\database</property>
	<property name="dialect">org.hibernate.dialect.H2Dialect</property>
    	<property name="hbm2ddl.auto">update</property>
    	     <!-- Requiere un archivo de mapeo de hibernación asociado .hbm.xml-->
    	<mapping resource="temporada.hbm.xml"/>
        <mapping resource="entrenamiento.hbm.xml"/>
        <mapping resource="ejercicio.hbm.xml"/>
        <mapping resource="serie.hbm.xml"/>
        

    </session-factory>

</hibernate-configuration>


